<mat-nav-list>
    <a mat-list-item routerLink="/my-wallet" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon> <span class="nav-caption">My Wallet</span>
    </a>
    <a mat-list-item routerLink="/stocks" (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">Stocks</span>
    </a>
    <a mat-list-item routerLink="/cryptos" (click)="onSidenavClose()">
        <mat-icon>monetization_on</mat-icon><span class="nav-caption">Cryptos</span>
    </a>
  </mat-nav-list>
