<mat-toolbar color="primary" class="header-position mat-h1" role="heading">
  <span>Portfolio Investiment App</span>

  <span class="fill-remaining-space"></span>

  <ul fxLayout fxLayoutGap="15px" class="navigation-items mat-h3">
    <li>
      <a routerLink="/my-wallet"><mat-icon>account_balance</mat-icon> My Wallet</a>
    </li>
    <li>
      <a routerLink="/stocks"><mat-icon>attach_money</mat-icon> Stocks</a>
    </li>
    <li>
      <a routerLink="/cryptos"><mat-icon>monetization_on</mat-icon> Cryptos</a>
    </li>
  </ul>
</mat-toolbar>
