<div class="mat-elevation-z8 apperance">
  <table mat-table [dataSource]="quotes">
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="latestPrice">
      <th mat-header-cell *matHeaderCellDef>Latest Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.latestPrice | currency }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="latestTime">
      <th mat-header-cell *matHeaderCellDef>Updated at</th>
      <td mat-cell *matCellDef="let element">{{ element.latestTime }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div style="width: 100%;">
    <button mat-mini-fab [mat-menu-trigger-for]="newStockMenu">
      <mat-icon>add</mat-icon>
    </button>

    <mat-menu #newStockMenu="matMenu">
      <mat-form-field class="addStockMenu">
        <input
          matInput
          type="text"
          placeholder="Stock symbol"
          (click)="$event.stopPropagation()"
          [(ngModel)]="addStockSymbol"
        />
        <button
          mat-button
          *ngIf="addStockSymbol"
          matSuffix
          mat-icon-button
          (click)="$event.stopPropagation(); addStockSymbol = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button
          mat-button
          *ngIf="addStockSymbol"
          matSuffix
          mat-icon-button
          color="primary"
          (click)="addStock()"
        >
        <mat-icon>add</mat-icon>
      </button>
      </mat-form-field>
    </mat-menu>
  </div>
</div>
