<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    role="navigation"
    class="sidenav-position"
  >
    Stocks - Sidenav
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
      <app-stocks-table></app-stocks-table>
      <app-stocks-widget-list></app-stocks-widget-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
